In [3]:
import numpy as np
import pandas as pd
import pickle as pkl
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.mode.chained_assignment = None
import random
from multiprocessing import Pool
seed_list=list(range(1,1000,100))
import numba

In [4]:
@numba.jit(nopython=True)
def year_binner(year,val=10):
    return year - year%val


@numba.jit(nopython=True)
def decremover(dc):

    new_constituents=[]
    for constituent,decades in dc.items():
        if len(decades)==1:
            if 2000 in decades:
                new_constituents.append(constituent)
    return(new_constituents)

In [32]:
modifiers_list=pkl.load( open("modifier_list_reduced.pkl",'rb'))
heads_list=pkl.load( open("head_list_reduced.pkl",'rb'))

In [8]:
compounds=pd.read_pickle("/data/dharp/compounding/datasets/compounds.pkl")
compounds.reset_index(inplace=True)
compounds.year=compounds.year.astype("int32")
compounds=compounds.query('1800 <= year <= 2010').copy()
compounds['time']=year_binner(compounds['year'].values,10)
#compounds = dd.from_pandas(compounds, npartitions=100)
compounds=compounds.groupby(['modifier','head','time'])['count'].sum().to_frame()
compounds.reset_index(inplace=True)
compounds=compounds.loc[compounds.groupby(['modifier','head','time'])['count'].transform('sum').gt(50)]
compounds=compounds.loc[compounds['modifier'].isin(modifiers_list) & compounds['head'].isin(heads_list)]
compounds.info()
compounds.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2713711 entries, 12 to 8892563
Data columns (total 4 columns):
modifier    object
head        object
time        int64
count       float64
dtypes: float64(1), int64(1), object(2)
memory usage: 103.5+ MB

   modifier          head  time   count
12   a_noun  addison_noun  1970  96.000
13   a_noun  addison_noun  1980 206.000
14   a_noun  addison_noun  1990 196.000
15   a_noun  addison_noun  2000 222.000
20   a_noun     anti_noun  1990  67.000

In [44]:
maske_list=novel_compounds.loc[novel_compounds.time==1990]
maske_list=list(zip(maske_list['modifier'].tolist(),maske_list['head'].tolist()))
len(maske_list)

42337

In [29]:
novel_compounds=compounds.loc[compounds.groupby(['modifier','head'])['time'].transform('count').eq(1)]
novel_compounds_2000=novel_compounds.loc[novel_compounds.time==2000]
novel_compounds_2000_list=list(zip(novel_compounds_2000['modifier'].tolist(),novel_compounds_2000['head'].tolist()))
novel_compounds_2000_list[:10]

[('a_noun', 'bachelor_noun'),
 ('a_noun', 'bug_noun'),
 ('a_noun', 'christian_noun'),
 ('a_noun', 'corner_noun'),
 ('a_noun', 'cultural_noun'),
 ('a_noun', 'dog_noun'),
 ('a_noun', 'family_noun'),
 ('a_noun', 'force_noun'),
 ('a_noun', 'go_noun'),
 ('a_noun', 'gospel_noun')]

In [59]:
novel_compounds_new=compounds.query('1990 <= time <= 2010').copy()
novel_compounds_1990=novel_compounds_new.loc[novel_compounds_new.groupby(['modifier','head'])['time'].transform('count').eq(2)]
novel_compounds_1990_list=list(zip(novel_compounds_1990['modifier'].tolist(),novel_compounds_1990['head'].tolist()))
novel_compounds_1990_list=list(set(novel_compounds_1990_list))
novel_compounds_1990_list[:10]

[('ancient_noun', 'wine_noun'),
 ('counterpart_noun', 'right_noun'),
 ('pole_noun', 'shift_noun'),
 ('energy_noun', 'intensity_noun'),
 ('gardening_noun', 'tool_noun'),
 ('newton_noun', 'iteration_noun'),
 ('charlie_noun', 'patton_noun'),
 ('visualization_noun', 'system_noun'),
 ('bonu_noun', 'point_noun'),
 ('book_noun', 'london_noun')]

In [60]:
len(novel_compounds_1990_list)

413196

In [61]:
len(set(total_compounds_list).intersection(novel_compounds_1990_list))

302624

In [58]:
compounds.loc[(compounds['modifier']=='mehran_noun') & (compounds['head']=='university_noun') ]

            modifier             head  time  count
4986595  mehran_noun  university_noun  1980 63.000
4986596  mehran_noun  university_noun  1990 55.000

In [36]:
total_compounds=compounds.query('1800 <= time <= 1989').copy()
total_compounds_list=list(zip(total_compounds['modifier'].tolist(),total_compounds['head'].tolist()))
total_compounds_list=list(set(total_compounds_list))
display(len(total_compounds_list))
total_compounds_list[:10]

479993

[('ancient_noun', 'wine_noun'),
 ('energy_noun', 'intensity_noun'),
 ('gardening_noun', 'tool_noun'),
 ('clas_noun', 'travel_noun'),
 ('bonu_noun', 'point_noun'),
 ('book_noun', 'london_noun'),
 ('monsieur_noun', 'peytel_noun'),
 ('automobile_noun', 'power_noun'),
 ('fujian_noun', 'investment_noun'),
 ('programmatic_noun', 'painting_noun')]

In [37]:
compound_list=novel_compounds_1990_list+novel_compounds_2000_list+total_compounds_list

In [39]:
len(compound_list)

734602

In [38]:
len(set(compound_list))

702116

## Creation of Negative Classes - CorruptHead and CorruptModifier

In [4]:
def corrupt_dataset_creator(choice):
    random.seed(choice)
    corrupt_modifier_list=[]
    corrupt_head_list=[]
    for cur_num,(modifier,head) in enumerate(novel_compounds_list):
    # CorruptHead , Modifier is same
    #print(modifier,head)

        while True:
            temp_corrupt_head=random.choice(heads_list)
            if (modifier,temp_corrupt_head) not in novel_compounds_list:
                if (modifier,temp_corrupt_head) not in total_compounds_list:
                    corrupt_head_list.append((modifier,temp_corrupt_head))
                    break
    # CorruptModifier , Head is same
        while True:
            temp_corrupt_modifier=random.choice(modifiers_list)
            if (temp_corrupt_modifier,head) not in novel_compounds_list:
                if (temp_corrupt_modifier,head) not in total_compounds_list:
                    corrupt_modifier_list.append((temp_corrupt_modifier,head))
                    break
    return corrupt_head_list,corrupt_modifier_list

In [5]:
pool = Pool(10)
results=pool.map(corrupt_dataset_creator,seed_list)

In [6]:
len(results)

10

In [9]:
for num,(corrupt_heads,corrupt_modifiers) in enumerate(results):
    print(num+1)
    pkl.dump( corrupt_heads, open( '/data/dharp/compounding/datasets/corrupt_heads_'+str(num+1)+'.pkl', "wb" ) )
    
    pkl.dump( corrupt_modifiers, open( '/data/dharp/compounding/datasets/corrupt_modifiers_'+str(num+1)+'.pkl', "wb" ) )

1
2
3
4
5
6
7
8
9
10

In [7]:
results[1][1][:20]

[('conference_n', 'peaceful_n'),
 ('constant_n', 'robinson_n'),
 ('attorney_n', 'supply_n'),
 ('extinction_n', 'peaceful_n'),
 ('reel_n', 'standard_n'),
 ('supreme_n', 'award_n'),
 ('switch_n', 'joint_n'),
 ('shoots_n', 'companion_n'),
 ('tuning_n', 'foundation_n'),
 ('familial_n', 'gentleman_n'),
 ('nothing_n', 'boat_n'),
 ('diasporic_n', 'pay_n'),
 ('scots_n', 'wife_n'),
 ('snap_n', 'othello_n'),
 ('snail_n', 'sage_n'),
 ('locality_n', 'robinson_n'),
 ('theme_n', 'evidence_n'),
 ('vermont_n', 'association_n'),
 ('advocacy_n', 'crane_n'),
 ('aol_n', 'chase_n')]

In [8]:
results[1][0][:20]

[('a_n', 'subtests_n'),
 ('a_n', 'ma_n'),
 ('a_n', 'upset_n'),
 ('india_n', 'denise_n'),
 ('india_n', 'governing_n'),
 ('india_n', 'knot_n'),
 ('india_n', 'managerial_n'),
 ('india_n', 'faith_n'),
 ('india_n', 'clause_n'),
 ('india_n', 'afield_n'),
 ('india_n', 'giles_n'),
 ('india_n', 'astrocyte_n'),
 ('india_n', 'eric_n'),
 ('india_n', 'reel_n'),
 ('india_n', 'bone_n'),
 ('the_n', 'will_n'),
 ('the_n', 'kiln_n'),
 ('the_n', 'palestine_n'),
 ('the_n', 'winner_n'),
 ('the_n', 'america_n')]